{% extends "scraper/base.html" %}

{% load static %}

{% block content %}
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <form action="scrape/" method="POST" class="col-12">
        {% csrf_token %}

        <div class="form-group">
          <label for="formGroupExampleInput">Enter site to scrape</label>
          <input type="text" class="form-control" name="site" placeholder="www.example.com">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" id="scraped" class="btn btn-primary float-right">Sites Scraped</button>

        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
        </ul>
        {% endif %}
      </form>
    </div>
  </div>

  <script defer src="{% static "/scraper/js/home.js" %}"></script>
{% endblock content %}
