html, body, .centered, .container, .row {
    height: 100%;
    margin: auto;
}

.centered {
    width: auto;
    display: table;
}

.centered-cell {
    display: table-cell;
    vertical-align: middle;
}
